<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>

      <div class="flex">
        <a href="/auth/github">Login To Github</a>
        <a href="/auth/github">Login To Google</a>

        <a href="/register" class="btn btn-secondary">New Registration</a>
        <a href="/login" class="btn btn-secondary">Login</a>
      </div>
    </div>
  </body>
</html>
