<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="button-nav">
      <a href="logout"> <button>Logout</button></a>
    </div>
    <div class="success">
      <h1>Success</h1>
      <p>SuccessFull</p>
    </div>
    <!-- <a href="/auth/github">Login To Github</a> -->
  </body>
</html>
